**SELECT and FROM**

In [ ]:
SELECT 
    authors,
    title
FROM 
    BooksDB.dbo.books

**SELECT \***

In [ ]:
SELECT 
    *
FROM 
    BooksDB.dbo.books

**TOP**

In [ ]:
SELECT 
    TOP 5 authors
FROM 
    BooksDB.dbo.books

In [ ]:
SELECT 
    TOP 5 *
FROM 
    BooksDB.dbo.books

In [ ]:
-- HW Question 1: Select the top 1000 rows from the books table. Make sure you are able to see all of the cols
SELECT
    TOP 1000 *
FROM
    BooksDB.dbo.books

**AS**

In [ ]:
SELECT 
    TOP 5 books_count AS 'Number of Editions'
FROM 
    BooksDB.dbo.books

**DISTINCT**

In [ ]:
SELECT 
    DISTINCT language_code
FROM 
    BooksDB.dbo.books

In [ ]:
-- HW Question 4: Create a query that displays distinct authors from the table
SELECT
    DISTINCT authors
FROM 
    BooksDB.dbo.books

**COUNT**

In [ ]:
SELECT  
    COUNT(*) AS 'Total Number of Rows'
FROM
    BooksDB.dbo.books

In [ ]:
SELECT
    COUNT(original_publication_year) AS 'Total Number of Rows Where Pub Year is Non-Null'
FROM
    BooksDB.dbo.books

In [ ]:
-- HW Question 2: Count the number of titles. Are there 10,000 titles as promised? 
SELECT
    COUNT(title) AS 'Total Number of Titles'
FROM
    BooksDB.dbo.books

In [ ]:
SELECT 
    COUNT(DISTINCT original_publication_year) AS 'Total Number of Different Publication Years'
FROM 
    BooksDB.dbo.books

**MIN, MAX, SUM, AVG**

In [ ]:
SELECT
    MIN(original_publication_year) AS 'Earliest Publication Year',
    MAX(original_publication_year) AS 'Latest Publication Year',
    SUM(ratings_count) AS 'Total Number of Ratings Given to All Books',
    AVG(books_count) AS 'Avg Number of Editions'
FROM
    BooksDB.dbo.books

**GROUP BY**

In [ ]:
SELECT 
    original_publication_year, 
    COUNT(*) AS 'Number of Books Published this Year'
FROM 
    BooksDB.dbo.books
GROUP BY 
    original_publication_year

Why are there more rows than indicated when we previously counted the number of distinct values?

In [ ]:
SELECT 
    *
FROM 
    BooksDB.dbo.books
WHERE 
    original_publication_year IS NULL -- FYI 'IS' is usually interchangeable with '=' except when referencing NULL values

In [ ]:
-- HW Question B2: Create a query that counts the number of goodreads_book_ids grouped by the tag_id
SELECT 
    COUNT(goodreads_book_id) AS 'Number of Books with This Tag',
    tag_id
FROM 
    BooksDB.dbo.book_tags
GROUP BY tag_id

In [ ]:
-- HW Question B3: In the last query we create a new, unnamed column. Using AS create an alias
-- to provide a name of your choice to this new column

**ORDER BY**

In [ ]:
SELECT
    TOP 5 
    title, 
    average_rating 
FROM
    BooksDB.dbo.books
ORDER BY 
    average_rating DESC

In [ ]:
-- HW Question B1: SELECT the TOP 1000 table items ordered by the tag_id (from Book Tags Table)
SELECT 
    TOP 1000 *
FROM 
    BooksDB.dbo.book_tags
ORDER BY tag_id

In [ ]:
-- HW Question C1: Create a query that displays the top 1000 items in the table in descending order
SELECT
    TOP 1000 * 
FROM
    BooksDB.dbo.ratings
ORDER BY rating DESC

**WHERE**

In [ ]:
SELECT
    title, 
    average_rating
FROM
    BooksDB.dbo.books
WHERE  
    average_rating > 4.7

In [ ]:
SELECT
    COUNT(*)
FROM
    BooksDB.dbo.books
WHERE
    average_rating > 4.7

In [ ]:
-- HW Question 3: Count the number of books where the original_publication_year is earlier than 1800
SELECT
    COUNT(*)
FROM
    BooksDB.dbo.books
WHERE original_publication_year < 1800

In [ ]:
SELECT
    authors,
    title, 
    average_rating,
    original_publication_year
FROM
    BooksDB.dbo.books
WHERE  
    average_rating <= 3

In [ ]:
SELECT
    authors,
    title, 
    average_rating,
    original_publication_year
FROM
    BooksDB.dbo.books
WHERE  
    average_rating <= 3
    AND original_publication_year < 2005

In [ ]:
SELECT
    authors,
    title, 
    average_rating,
    original_publication_year
FROM
    BooksDB.dbo.books
WHERE  
    average_rating <= 3
    AND authors NOT IN ('Chetan Bhagat', 'Chuck Palahniuk')

In [ ]:
SELECT
    authors,
    title, 
    book_id
FROM
    BooksDB.dbo.books
WHERE  
    book_id BETWEEN 1 and 10

In [ ]:
-- HW Question 6: Create a query to check how many original title were written during the WWI era
-- (1914-1921)
SELECT
    original_title
FROM 
    BooksDB.dbo.books
WHERE 
    original_publication_year BETWEEN 1914 AND 1921

In [ ]:
SELECT
    authors,
    title
FROM
    BooksDB.dbo.books
WHERE  
    authors LIKE '_k%'

In [ ]:
-- HW Question 5: Create a query that displays a count of all the books that contain a language code for
-- English. This could be represented in the table as 'eng' or 'en-'
SELECT
    COUNT(language_code)
FROM
    BooksDB.dbo.books
WHERE
    language_code LIKE 'en%'

In [ ]:
-- HW Question D1 (Tags Table): Create a query that returns table items where the tag_name 
-- describes the book as a mystery
SELECT
    *
FROM
    BooksDB.dbo.tags
WHERE 
    tag_name LIKE 'mystery%'
    OR tag_name LIKE '%mystery'
    OR tag_name LIKE '%mystery%'