# SQL Practice

<mark>LIST OF TABLES</mark>

In [2]:
USE BooksDB
SELECT *
FROM INFORMATION_SCHEMA.TABLES

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
BooksDB,dbo,tags,BASE TABLE
BooksDB,dbo,books,BASE TABLE
BooksDB,dbo,ratings,BASE TABLE
BooksDB,dbo,to_read,BASE TABLE
BooksDB,dbo,book_tags,BASE TABLE

In [5]:
USE BooksDB
Select TOP (2) * from books

id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1,2767052,2767052,2792775,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg
2,3,3,4640799,491,439554934,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m/3.jpg,https://images.gr-assets.com/books/1474154022s/3.jpg

# **<mark>RTRIM-</mark>**<span style="background-color: rgb(255, 255, 255); color: rgb(53, 74, 95); font-family: &quot;Lato Extended&quot;, Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px;">Removes whitespaces from the right of the last character</span>

In [6]:
SELECT RTRIM('Removes trailing spaces.   ');

SELECT RTRIM('Four spaces are after the period in this sentence.    ') + 'Next string.';


--The following example demonstrates how to use RTRIM to remove trailing spaces from a character variable.
DECLARE @string_to_trim VARCHAR(60);  
SET @string_to_trim = 'Four spaces are after the period in this sentence.    ';  
SELECT @string_to_trim + ' Next string.';  
SELECT RTRIM(@string_to_trim) + ' Next string.';  
GO

(No column name)
Removes trailing spaces.

(No column name)
Four spaces are after the period in this sentence.Next string.

(No column name)
Four spaces are after the period in this sentence. Next string.

(No column name)
Four spaces are after the period in this sentence. Next string.

## <mark>LTRIM-</mark>Removes whitespaces from the left of the first character

In [8]:
SELECT LTRIM('     Five spaces are at the beginning of this string.');

--LTRIM as variable
DECLARE @string_to_trim VARCHAR(60);  
SET @string_to_trim = '     5 spaces are at the beginning of this string.';  
SELECT 
    @string_to_trim AS 'Original string',
    LTRIM(@string_to_trim) AS 'Without spaces';  
GO

(No column name)
Five spaces are at the beginning of this string.

Original string,Without spaces
5 spaces are at the beginning of this string.,5 spaces are at the beginning of this string.

## **<mark>LEFT</mark>**\-Returns the length of characters starting at provided character index and moving left

In [13]:
SELECT LEFT('abcdefg',2);  
GO



--Using LEFT with a column
--The following example returns the five leftmost characters of each title name.--

Use BooksDB
  
SELECT TOP (5) LEFT(title, 5)   
FROM books 
ORDER BY id;

(No column name)
ab

(No column name)
The H
Harry
Twili
To Ki
The G

## <mark>Right</mark>\- Returns the length of characters starting at provided character index and moving right

In [17]:
SELECT RIGHT ('Hello There!', 3)


USE AdventureWorks2019
SELECT RIGHT(FirstName, 5) AS 'First Name'  
FROM Person.Person  
WHERE BusinessEntityID < 5  
ORDER BY FirstName;  
GO

(No column name)
re!

First Name
Ken
Rob
berto
Terri

## <mark> Len</mark>- Returns the length of a string based on characters, not including trailing spaces

In [21]:
USE AdventureWorks2019  
SELECT TOP(10) LEN(FirstName) AS Length, FirstName, LastName   
FROM Sales.vIndividualCustomer  
WHERE CountryRegionName = 'Australia';  
GO  


SELECT LEN ('Hello Holly F Hiranandani!')

Length,FirstName,LastName
3,Jon,Yang
6,Eugene,Huang
5,Ruben,Torres
7,Christy,Zhu
9,Elizabeth,Johnson
5,Julio,Ruiz
5,Janet,Alvarez
5,Marco,Mehta
3,Rob,Verhoff
7,Shannon,Carlson

(No column name)
26

## <mark>DATA LENGTH</mark>- Returns the length of a string based on bytes, not including trailing spaces

In [25]:
SELECT DATALENGTH ('HELLO AGAIN WORLD!')

(No column name)
18

## <mark>CHARINDEX</mark>\- Can use to find the specific character within a string-- Returns the index location

  

<span style="color: rgb(230, 230, 230); font-family: &quot;Segoe UI&quot;, SegoeUI, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; background-color: rgb(23, 23, 23);">This function searches for one character expression inside a second character expression, returning the starting position of the first expression if found.</span>

In [39]:
--This example searches for bicycle in the searched string value variable @document.

DECLARE @document VARCHAR(64);  
SELECT @document = 'Reflectors are vital safety' +  
                   ' components of your bicycle.';  
SELECT CHARINDEX('bicycle', @document);  
GO  

--This example uses the optional start_location parameter to start the search for vital 
--at the fifth character of the searched string value variable @document.

DECLARE @document VARCHAR(64);  
  
SELECT @document = 'Reflectors are vital safety' +  
                   ' components of your bicycle.';  
SELECT CHARINDEX('vital', @document, 5);  
GO  


--Performing a case-sensitive search
--This example shows a case-INsensitive search for the string 'TEST' in searched string 'This is a Test``'.

DECLARE @document VARCHAR(64);  
  
SELECT @document = 'Reflectors are vital safety' +  
                   ' components of your bicycle.';  
SELECT CHARINDEX('BICYclE', @document COLLATE Latin1_General_CI_AS);  
GO  


--Searching from the start of a string expression
--This example returns the first location of the string 'is' in string This is a string,
-- starting from position 1 (the first character) of This is a string.

SELECT CHARINDEX('is', 'This is a string'); 


--Searching from a position other than the first position
--This example returns the first location of the string is in string This is a string, 
--starting the search from position 4 (the fourth character).

SELECT CHARINDEX('is', 'This is a string', 4);

(No column name)
48

(No column name)
16

(No column name)
48

(No column name)
3

(No column name)
6

## <mark>SUBSTRING</mark>- Returns part of a string--The first number is starting index location and the second number is the ending index location

SUBSTRING ( expression ,start , length )

In [41]:
SELECT x = SUBSTRING('abcdef', 2, 3);


--The following example shows how to return only a part of a character string. From the sys.databases table, 
--this query returns the system database names in the first column, 
--the first letter of the database in the second column, and the third and fourth characters in the final column.

SELECT name, SUBSTRING(name, 1, 1) AS Initial ,
SUBSTRING(name, 3, 2) AS ThirdAndFourthCharacters
FROM sys.databases  
WHERE database_id < 5;

x
bcd

name,Initial,ThirdAndFourthCharacters
master,m,st
tempdb,t,mp
model,m,de
msdb,m,db

## <mark>REVERSE</mark>--RETURN THE STRING BACKWARDS

In [44]:
USE AdventureWorks2019

SELECT FirstName, REVERSE(FirstName) AS Reverse  
FROM Person.Person  
WHERE BusinessEntityID < 5  
ORDER BY FirstName;  
GO  


DECLARE @myvar VARCHAR(10);  
SET @myvar = 'sdrawkcaB';  
SELECT REVERSE(@myvar) AS Reversed ;  
GO 

--The following example returns names of all databases, and the names with the characters reversed.
SELECT name, REVERSE(name) FROM sys.databases;  
GO

FirstName,Reverse
Ken,neK
Rob,boR
Roberto,otreboR
Terri,irreT

Reversed
Backwards

name,(No column name)
master,retsam
tempdb,bdpmet
model,ledom
msdb,bdsm
LaborStatisticsDB,BDscitsitatSrobaL
JunkDB_STL_March2022,2202hcraM_LTS_BDknuJ
AdventureWorks2019,9102skroWerutnevdA
RideShareDB,BDerahSediR
BooksDB,BDskooB

## <mark>UPPER</mark>- RETURNS A STRING IN UPPERCASE LETTERS

In [48]:
Use AdventureWorks2019  
  
SELECT TOP(5) UPPER(RTRIM(LastName)) + ', ' + FirstName AS Name  
FROM Person.Person  
ORDER BY LastName;  

SELECT UPPER('Balloon')

Name
"ABBAS, Syed"
"ABEL, Catherine"
"ABERCROMBIE, Kim"
"ABERCROMBIE, Kim"
"ABERCROMBIE, Kim"

(No column name)
BALLOON

## <mark>LOWER</mark>--Returns a string in all lower case letters

In [56]:
--finding tables with specific column name
-- SELECT
--   sys.columns.name AS ColumnName,
--   tables.name AS TableName
-- FROM
--   sys.columns
-- JOIN sys.tables ON
--   sys.columns.object_id = tables.object_id
-- WHERE
--   sys.columns.name = 'title'



SELECT LOWER('SQL ROCKS!')

(No column name)
sql rocks!

## <mark>REPLACE</mark>\-- Replaces part of a string using provided patterns.

<span class="hljs-keyword" style="box-sizing: inherit; outline-color: inherit; color: rgb(86, 156, 214); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);">REPLACE</span> <span style="color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);"> ( </span> <span class="hljs-variable" style="box-sizing: inherit; outline-color: inherit; color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);">string_expression</span> <span style="color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);"> , </span> <span class="hljs-variable" style="box-sizing: inherit; outline-color: inherit; color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);">string_pattern</span> <span style="color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);"> , </span> <span class="hljs-variable" style="box-sizing: inherit; outline-color: inherit; color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);">string_replacement</span> <span style="color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);"> )</span>

In [59]:
SELECT REPLACE('abcdefghicde','cde','xxx');  
GO

SELECT REPLACE('This is a Test'  COLLATE Latin1_General_BIN,  
'Test', 'desk' );  
GO


DECLARE @STR NVARCHAR(100), @LEN1 INT, @LEN2 INT;
SET @STR = N'This is a sentence with spaces in it.';
SET @LEN1 = LEN(@STR);
SET @STR = REPLACE(@STR, N' ', N'');
SET @LEN2 = LEN(@STR);
SELECT N'Number of spaces in the string: ' + CONVERT(NVARCHAR(20), @LEN1 - @LEN2);

GO

(No column name)
abxxxfghixxx

(No column name)
This is a desk

(No column name)
Number of spaces in the string: 7

## <mark>CONCAT</mark>--Combines strings.  


Good for working with null values as seen in example 2.

In [62]:
SELECT CONCAT('DOG', 'PARK', 'TREATS')

SELECT CONCAT('DOG', NULL, 'TREATS')

SELECT CONCAT ( 'Happy ', 'Birthday ', 11, '/', '25' ) AS Result;

(No column name)
DOGPARKTREATS

(No column name)
DOGTREATS

Result
Happy Birthday 11/25

## <mark>CONCAT WS</mark>- Combines strings with a specified separator value


The separator can be anything you want.


Works with NULL values like CONCAT

In [68]:
SELECT CONCAT_WS('--', 'DOG', 'BLUE', 'APPLE')

SELECT CONCAT_WS(',','1 Microsoft Way', NULL, NULL, 'Redmond', 'WA', 98052) AS Address;

(No column name)
DOG--BLUE--APPLE

Address
"1 Microsoft Way,Redmond,WA,98052"

## <mark>STUFF</mark>-- Inserts string into another string


The first number indicates where to insert the new chars. 


The second number indicates how many original characters will be deleted upon insertion.

In [72]:
--The following example returns a character string created by deleting three characters from the first string,
--abcdef, starting at position 2, at b, and inserting the second string at the deletion point.

SELECT STUFF('abcdef', 2, 3, 'ijklmn');  
GO

SELECT STUFF('Pumpkin Pie', 3, 0, 'AddChars');

SELECT STUFF('Pumpkin Pie', 3, 5, 'Delete Chars');

(No column name)
aijklmnef

(No column name)
PuAddCharsmpkin Pie

(No column name)
PuDelete Chars Pie

# <mark>DATE AND TIME</mark>

## GET DATE- Returns a timestamp that includes the date and time of the server.

In [76]:
SELECT GETDATE()

--GETTING THE CURRENT SYSTEM DATE AND TIME
SELECT SYSDATETIME()
    ,SYSDATETIMEOFFSET()
    ,SYSUTCDATETIME()
    ,CURRENT_TIMESTAMP
    ,GETDATE()
    ,GETUTCDATE();

 --GETTING THE CURRENT SYSTEM DATE   

SELECT CONVERT (date, SYSDATETIME())
    ,CONVERT (date, SYSDATETIMEOFFSET())
    ,CONVERT (date, SYSUTCDATETIME())
    ,CONVERT (date, CURRENT_TIMESTAMP)
    ,CONVERT (date, GETDATE())
    ,CONVERT (date, GETUTCDATE());

--GETTING THE CURRENT SYSTEM TIME
SELECT CONVERT (time, SYSDATETIME())
    ,CONVERT (time, SYSDATETIMEOFFSET())
    ,CONVERT (time, SYSUTCDATETIME())
    ,CONVERT (time, CURRENT_TIMESTAMP)
    ,CONVERT (time, GETDATE())
    ,CONVERT (time, GETUTCDATE());


SELECT SYSDATETIME()

(No column name)
2022-06-06 20:27:03.170

(No column name),(No column name),(No column name),(No column name),(No column name),(No column name)
2022-06-06 20:27:03.1741025,2022-06-06 20:27:03.1741025 +00:00,2022-06-06 20:27:03.1741025,2022-06-06 20:27:03.170,2022-06-06 20:27:03.170,2022-06-06 20:27:03.170

(No column name),(No column name),(No column name),(No column name),(No column name),(No column name)
2022-06-06,2022-06-06,2022-06-06,2022-06-06,2022-06-06,2022-06-06

(No column name),(No column name),(No column name),(No column name),(No column name),(No column name)
20:27:03.1741025,20:27:03.1741025,20:27:03.1741025,20:27:03.1700000,20:27:03.1700000,20:27:03.1700000

(No column name)
2022-06-06 20:27:03.1741025

## <mark>DATE ADD</mark>

<mark>

Adds a time period to a date. 

In this example, we are increasing the month value from 02 (February) to 03(March)

</mark>

<mark><span style="color: rgb(230, 230, 230); font-family: SFMono-Regular, Consolas, &quot;Liberation Mono&quot;, Menlo, Courier, monospace; white-space: pre; background-color: rgb(47, 47, 47);">DATEADD (datepart , number , date )</span>  
</mark>

In [79]:
SELECT DATEADD(month, 1, '20220224');

DECLARE @datetime2 datetime2 = '2007-01-01 13:10:10.1111111';  
SELECT 'year', DATEADD(year,1,@datetime2)  
UNION ALL  
SELECT 'quarter',DATEADD(quarter,1,@datetime2)  
UNION ALL  
SELECT 'month',DATEADD(month,1,@datetime2)  
UNION ALL  
SELECT 'dayofyear',DATEADD(dayofyear,1,@datetime2)  
UNION ALL  
SELECT 'day',DATEADD(day,1,@datetime2)  
UNION ALL  
SELECT 'week',DATEADD(week,1,@datetime2)  
UNION ALL  
SELECT 'weekday',DATEADD(weekday,1,@datetime2)  
UNION ALL  
SELECT 'hour',DATEADD(hour,1,@datetime2)  
UNION ALL  
SELECT 'minute',DATEADD(minute,1,@datetime2)  
UNION ALL  
SELECT 'second',DATEADD(second,1,@datetime2)  
UNION ALL  
SELECT 'millisecond',DATEADD(millisecond,1,@datetime2)  
UNION ALL  
SELECT 'microsecond',DATEADD(microsecond,1,@datetime2)  
UNION ALL  
SELECT 'nanosecond',DATEADD(nanosecond,1,@datetime2);

(No column name)
2022-03-24 00:00:00.000

(No column name),(No column name)
year,2008-01-01 13:10:10.1111111
quarter,2007-04-01 13:10:10.1111111
month,2007-02-01 13:10:10.1111111
dayofyear,2007-01-02 13:10:10.1111111
day,2007-01-02 13:10:10.1111111
week,2007-01-08 13:10:10.1111111
weekday,2007-01-02 13:10:10.1111111
hour,2007-01-01 14:10:10.1111111
minute,2007-01-01 13:11:10.1111111
second,2007-01-01 13:10:11.1111111
millisecond,2007-01-01 13:10:10.1121111
microsecond,2007-01-01 13:10:10.1111121
nanosecond,2007-01-01 13:10:10.1111111

## <mark>DATEDIFF</mark>--Calculates and returns the difference of a date part  between an end date and a start date 


The first example is comparing the difference between days while the second is comparing months.

In [82]:
SELECT DATEDIFF(day, '2022-11-13', '2022-12-12');



SELECT DATEDIFF(month, '2022-11-13', '2022-12-12');



SELECT DATEDIFF(year, '1984-11-13', '2022-12-12');


-- SELECT DATEDIFF(year,        '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(quarter,     '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(month,       '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(dayofyear,   '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(day,         '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(week,        '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(hour,        '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(minute,      '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(second,      '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(millisecond, '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');
-- SELECT DATEDIFF(microsecond, '2005-12-31 23:59:59.9999999', '2006-01-01 00:00:00.0000000');

(No column name)
29

(No column name)
1

(No column name)
38

## <mark>DATENAME</mark>--Returns a string representing the desired date part.

In [87]:
SELECT DATENAME(year, '12:10:30.123') AS 'YEAR' 
    ,DATENAME(month, '12:10:30.123')  AS 'MONTH'
    ,DATENAME(day, '12:10:30.123')  AS 'DAY'
    ,DATENAME(dayofyear, '12:10:30.123')  AS 'DAY OF YEAR'
    ,DATENAME(weekday, '12:10:30.123') AS 'WEEKDAY';



SELECT DATENAME(DAYOFYEAR, '2022-07-25') AS 'DAY OF YEAR';

YEAR,MONTH,DAY,DAY OF YEAR,WEEKDAY
1900,January,1,1,Monday

DAY OF YEAR
206

## <mark>DATEPART</mark>--Returns an integer representing the desired date part

In [89]:
SELECT DATEPART(day, '2022-08-21');

SELECT DATEPART(year, '2022-08-21')  
    ,DATEPART(month, '2022-08-21')  
    ,DATEPART(day, '2022-08-21')  
    ,DATEPART(dayofyear, '2022-08-21')  
    ,DATEPART(weekday, '2022-08-21');

(No column name)
21

(No column name),(No column name),(No column name),(No column name),(No column name)
2022,8,21,233,1

## <mark>DAY MONTH YEAR</mark>

In [90]:
SELECT DAY( '2022-08-21') AS 'DAY';


SELECT MONTH( '2022-08-21') AS 'MONTH';


SELECT YEAR( '2022-08-21') AS 'YEAR';

DAY
21

MONTH
8

YEAR
2022

## <mark>CONVERT DATE/TIME</mark>--Paired with GETDATE to convert other data types into dates and times (Links to an external site.) based on the desired format.


These examples convert the server date into various formats.  The first example is the default format, the second example is format number 7

In [91]:
SELECT CONVERT(varchar, GETDATE());

SELECT CONVERT(varchar, GETDATE(), 7);

(No column name)
Jun 6 2022 8:48PM

(No column name)
"Jun 06, 22"

## <mark>FORMAT</mark>--Used to set the format or reformat dates 


This example is using the following date information: Jan  5, 2022,  7:38PM.


The first example the server date is formatted day, month, year. The time is not requested, so it is not returned.


The second example requests only the time in hours and minutes.


Note that ‘MM’ is used for months and ‘mm’ is used for minutes

In [94]:
SELECT FORMAT(GETDATE(), 'dd/MM/yyyy');



SELECT FORMAT(GETDATE(), 'hh:mm');


--FORMAT( value, format [, culture ] )  
DECLARE @d DATE = '11/22/2020';
SELECT FORMAT( @d, 'd', 'en-US' ) 'US English'  
      ,FORMAT( @d, 'd', 'en-gb' ) 'Great Britain English'  
      ,FORMAT( @d, 'd', 'de-de' ) 'German'  
      ,FORMAT( @d, 'd', 'zh-cn' ) 'Simplified Chinese (PRC)';  
  
SELECT FORMAT( @d, 'D', 'en-US' ) 'US English'  
      ,FORMAT( @d, 'D', 'en-gb' ) 'Great Britain English'  
      ,FORMAT( @d, 'D', 'de-de' ) 'German'  
      ,FORMAT( @d, 'D', 'zh-cn' ) 'Chinese (Simplified PRC)';  

USE AdventureWorks2019
SELECT TOP(5) CurrencyRateID, EndOfDayRate  
            ,FORMAT(EndOfDayRate, 'N', 'en-us') AS 'Number Format'  
            ,FORMAT(EndOfDayRate, 'G', 'en-us') AS 'General Format'  
            ,FORMAT(EndOfDayRate, 'C', 'en-us') AS 'Currency Format'  
FROM Sales.CurrencyRate  
ORDER BY CurrencyRateID;

(No column name)
06/06/2022

(No column name)
08:52

US English,Great Britain English,German,Simplified Chinese (PRC)
11/22/2020,22/11/2020,22.11.2020,2020/11/22

US English,Great Britain English,German,Chinese (Simplified PRC)
"Sunday, November 22, 2020",22 November 2020,"Sonntag, 22. November 2020",2020年11月22日

CurrencyRateID,EndOfDayRate,Number Format,General Format,Currency Format
1,1.0002,1.00,1.0002,$1.00
2,1.55,1.55,1.5500,$1.55
3,1.9419,1.94,1.9419,$1.94
4,1.4683,1.47,1.4683,$1.47
5,8.2784,8.28,8.2784,$8.28

# <mark>AGGREGATIONS</mark>

## SUM

In [98]:
USE BooksDB

SELECT SUM(ratings_2) AS 'SUM OF RATINGS 2 COL'

FROM books ;

USE AdventureWorks2019
SELECT Color, SUM(ListPrice), SUM(StandardCost)  
FROM Production.Product  
WHERE Color IS NOT NULL   
    AND ListPrice != 0.00   
    AND Name LIKE 'Mountain%'  
GROUP BY Color  
ORDER BY Color;  
GO

SUM OF RATINGS 2 COL
31108850

Color,(No column name),(No column name)
Black,27404.84,15214.9616
Silver,26462.84,14665.6792
White,19.00,6.7926

## <mark>MAX AND MIN</mark>

In [109]:
USE AdventureWorks2019

SELECT MAX(TaxRate) AS 'MAX TAX RATE' 
FROM Sales.SalesTaxRate;  
GO  

SELECT DISTINCT Name  
       , MIN(Rate) OVER (PARTITION BY edh.DepartmentID) AS MinSalary  
       , MAX(Rate) OVER (PARTITION BY edh.DepartmentID) AS MaxSalary  
       , AVG(Rate) OVER (PARTITION BY edh.DepartmentID) AS AvgSalary  
       ,COUNT(edh.BusinessEntityID) OVER (PARTITION BY edh.DepartmentID) AS EmployeesPerDept  
FROM HumanResources.EmployeePayHistory AS eph  
JOIN HumanResources.EmployeeDepartmentHistory AS edh  
     ON eph.BusinessEntityID = edh.BusinessEntityID  
JOIN HumanResources.Department AS d  
 ON d.DepartmentID = edh.DepartmentID  
WHERE edh.EndDate IS NULL  
ORDER BY Name;



USE BooksDB 
SELECT MAX(ratings_2) AS 'MAX BOOK RATING 2' FROM books

SELECT MIN(ratings_2) AS 'MIN BOOK RATINGS 2 COL' FROM books;

USE AdventureWorks2019
SELECT MIN(TaxRate) AS 'MIN TAX RATE' 
FROM Sales.SalesTaxRate;  
GO

MAX TAX RATE
19.60

Name,MinSalary,MaxSalary,AvgSalary,EmployeesPerDept
Document Control,10.25,17.7885,14.3884,5
Engineering,32.6923,63.4615,40.1442,6
Executive,39.06,125.50,68.3034,4
Facilities and Maintenance,9.25,24.0385,13.0316,7
Finance,13.4615,43.2692,23.935,10
Human Resources,13.9423,27.1394,18.0248,6
Information Services,27.4038,50.4808,34.1586,10
Marketing,13.4615,37.50,18.4318,11
Production,6.50,84.1346,13.5537,195
Production Control,8.62,24.5192,16.7746,8
Purchasing,9.86,30.00,18.0202,14
Quality Assurance,10.5769,28.8462,15.4647,6
Research and Development,40.8654,50.4808,43.6731,4
Sales,23.0769,72.1154,29.9719,18
Shipping and Receiving,9.00,19.2308,10.8718,6
Tool Design,8.62,29.8462,23.5054,6

MAX BOOK RATING 2
436802

MIN BOOK RATINGS 2 COL
30

MIN TAX RATE
5.00

## <mark>IS NULL</mark>--Determines whether value is null, often used as a condition with WHERE

In [116]:
USE BooksDB
SELECT  TOP 5 title, isbn, original_publication_year FROM books WHERE isbn IS NULL AND original_publication_year IS NULL;


SELECT title, original_title FROM books WHERE authors LIKE 'Sophocles%' AND original_title IS NULL;

--NOT NULL
SELECT  TOP 5 title, isbn, original_publication_year FROM books WHERE isbn IS NOT NULL AND original_publication_year IS NOT NULL;


SELECT title, original_title FROM books WHERE authors LIKE 'Sophocles%' AND original_title IS NOT NULL;




-- USE AdventureWorks2019 
-- SELECT FirstName, LastName, MiddleName  
-- FROM Person.Person  
-- WHERE MiddleName IS NOT NULL  
-- ORDER BY LastName DESC;  

-- USE AdventureWorks2019 
-- SELECT FirstName, LastName, MiddleName  
-- FROM Person.Person  
-- WHERE MiddleName IS NULL  
-- ORDER BY LastName DESC;

title,isbn,original_publication_year
BookRags Summary: A Storm of Swords,NULL,NULL
"A Shade of Blood (A Shade of Vampire, #2)",NULL,NULL
زغازيغ,NULL,NULL

title,original_title
"The Oedipus Cycle: Oedipus Rex/Oedipus at Colonus/Antigone (The Theban Plays, #1–3)",NULL

title,isbn,original_publication_year
"The Hunger Games (The Hunger Games, #1)",439023483,2008
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",439554934,1997
"Twilight (Twilight, #1)",316015849,2005
To Kill a Mockingbird,61120081,1960
The Great Gatsby,743273567,1925

title,original_title
"Oedipus Rex (The Theban Plays, #1)",Οἰδίπους Τύραννος
"Antigone (The Theban Plays, #3)",Ἀντιγόνη

\# <mark>REPLACING IS NULL VALUES</mark>

In [120]:
--The following example finds the average of the weight of all products.
-- It substitutes the value 50 for all NULL entries in the Weight column of the Product table.

USE AdventureWorks2019;  
GO  
SELECT AVG(ISNULL(Weight, 50))  
FROM Production.Product;  
GO  

--The following example selects the description, discount percentage, minimum quantity, and maximum quantity for all special offers in AdventureWorks2012. 
--If the maximum quantity for a particular special offer is NULL, the MaxQty shown in the result set is 0.00.
SELECT Description, DiscountPct, MinQty, ISNULL(MaxQty, 0.00) AS 'Max Quantity'  
FROM Sales.SpecialOffer;  
GO  


SELECT original_title, ISNULL(original_title, title) AS UpdatedOriginalTitle FROM BooksDB.dbo.books WHERE authors LIKE 'Sophocles%';

(No column name)
59.790059

Description,DiscountPct,MinQty,Max Quantity
No Discount,0.00,0,0
Volume Discount 11 to 14,0.02,11,14
Volume Discount 15 to 24,0.05,15,24
Volume Discount 25 to 40,0.10,25,40
Volume Discount 41 to 60,0.15,41,60
Volume Discount over 60,0.20,61,0
Mountain-100 Clearance Sale,0.35,0,0
Sport Helmet Discount-2002,0.10,0,0
Road-650 Overstock,0.30,0,0
Mountain Tire Sale,0.50,0,0
Sport Helmet Discount-2003,0.15,0,0
LL Road Frame Sale,0.35,0,0
Touring-3000 Promotion,0.15,0,0
Touring-1000 Promotion,0.20,0,0
Half-Price Pedal Sale,0.50,0,0
Mountain-500 Silver Clearance Sale,0.40,0,0

original_title,UpdatedOriginalTitle
Οἰδίπους Τύραννος,Οἰδίπους Τύραννος
Ἀντιγόνη,Ἀντιγόνη
NULL,"The Oedipus Cycle: Oedipus Rex/Oedipus at Colonus/Antigone (The Theban Plays, #1–3)"

## <mark>IS NULL VS ISNULL</mark>

In [119]:
--Do not use ISNULL to find NULL values. Use IS NULL instead. 
--The following example finds all products that have NULL in the weight column. Note the space between IS and NULL.

USE AdventureWorks2019;  
GO  
SELECT Name, Weight  
FROM Production.Product  
WHERE Weight IS NULL;  
GO

Name,Weight
Adjustable Race,NULL
Bearing Ball,NULL
BB Ball Bearing,NULL
Headset Ball Bearings,NULL
Blade,NULL
LL Crankarm,NULL
ML Crankarm,NULL
HL Crankarm,NULL
Chainring Bolts,NULL
Chainring Nut,NULL
Chainring,NULL
Crown Race,NULL
Chain Stays,NULL
Decal 1,NULL
Decal 2,NULL
Down Tube,NULL
Mountain End Caps,NULL
Road End Caps,NULL
Touring End Caps,NULL
Fork End,NULL
Freewheel,NULL
Flat Washer 1,NULL
Flat Washer 6,NULL
Flat Washer 2,NULL
Flat Washer 9,NULL
Flat Washer 4,NULL
Flat Washer 3,NULL
Flat Washer 8,NULL
Flat Washer 5,NULL
Flat Washer 7,NULL
Fork Crown,NULL
Front Derailleur Cage,NULL
Front Derailleur Linkage,NULL
Guide Pulley,NULL
LL Grip Tape,NULL
ML Grip Tape,NULL
HL Grip Tape,NULL
Thin-Jam Hex Nut 9,NULL
Thin-Jam Hex Nut 10,NULL
Thin-Jam Hex Nut 1,NULL
Thin-Jam Hex Nut 2,NULL
Thin-Jam Hex Nut 15,NULL
Thin-Jam Hex Nut 16,NULL
Thin-Jam Hex Nut 5,NULL
Thin-Jam Hex Nut 6,NULL
Thin-Jam Hex Nut 3,NULL
Thin-Jam Hex Nut 4,NULL
Thin-Jam Hex Nut 13,NULL
Thin-Jam Hex Nut 14,NULL
Thin-Jam Hex Nut 7,NULL
Thin-Jam Hex Nut 8,NULL
Thin-Jam Hex Nut 12,NULL
Thin-Jam Hex Nut 11,NULL
Hex Nut 5,NULL
Hex Nut 6,NULL
Hex Nut 16,NULL
Hex Nut 17,NULL
Hex Nut 7,NULL
Hex Nut 8,NULL
Hex Nut 9,NULL
Hex Nut 22,NULL
Hex Nut 23,NULL
Hex Nut 12,NULL
Hex Nut 13,NULL
Hex Nut 1,NULL
Hex Nut 10,NULL
Hex Nut 11,NULL
Hex Nut 2,NULL
Hex Nut 20,NULL
Hex Nut 21,NULL
Hex Nut 3,NULL
Hex Nut 14,NULL
Hex Nut 15,NULL
Hex Nut 4,NULL
Hex Nut 18,NULL
Hex Nut 19,NULL
Handlebar Tube,NULL
Head Tube,NULL
LL Hub,NULL
HL Hub,NULL
Keyed Washer,NULL
External Lock Washer 3,NULL
External Lock Washer 4,NULL
External Lock Washer 9,NULL
External Lock Washer 5,NULL
External Lock Washer 7,NULL
External Lock Washer 6,NULL
External Lock Washer 1,NULL
External Lock Washer 8,NULL
External Lock Washer 2,NULL
Internal Lock Washer 3,NULL
Internal Lock Washer 4,NULL
Internal Lock Washer 9,NULL
Internal Lock Washer 5,NULL
Internal Lock Washer 7,NULL
Internal Lock Washer 6,NULL
Internal Lock Washer 10,NULL
Internal Lock Washer 1,NULL
Internal Lock Washer 8,NULL
Internal Lock Washer 2,NULL
Thin-Jam Lock Nut 9,NULL
Thin-Jam Lock Nut 10,NULL
Thin-Jam Lock Nut 1,NULL
Thin-Jam Lock Nut 2,NULL
Thin-Jam Lock Nut 15,NULL
Thin-Jam Lock Nut 16,NULL
Thin-Jam Lock Nut 5,NULL
Thin-Jam Lock Nut 6,NULL
Thin-Jam Lock Nut 3,NULL
Thin-Jam Lock Nut 4,NULL
Thin-Jam Lock Nut 13,NULL
Thin-Jam Lock Nut 14,NULL
Thin-Jam Lock Nut 7,NULL
Thin-Jam Lock Nut 8,NULL
Thin-Jam Lock Nut 12,NULL
Thin-Jam Lock Nut 11,NULL
Lock Nut 5,NULL
Lock Nut 6,NULL
Lock Nut 16,NULL
Lock Nut 17,NULL
Lock Nut 7,NULL
Lock Nut 8,NULL
Lock Nut 9,NULL
Lock Nut 22,NULL
Lock Nut 23,NULL
Lock Nut 12,NULL
Lock Nut 13,NULL
Lock Nut 1,NULL
Lock Nut 10,NULL
Lock Nut 11,NULL
Lock Nut 2,NULL
Lock Nut 20,NULL
Lock Nut 21,NULL
Lock Nut 3,NULL
Lock Nut 14,NULL
Lock Nut 15,NULL
Lock Nut 4,NULL
Lock Nut 19,NULL
Lock Nut 18,NULL
Lock Ring,NULL
Lower Head Race,NULL
Lock Washer 4,NULL
Lock Washer 5,NULL
Lock Washer 10,NULL
Lock Washer 6,NULL
Lock Washer 13,NULL
Lock Washer 8,NULL
Lock Washer 1,NULL
Lock Washer 7,NULL
Lock Washer 12,NULL
Lock Washer 2,NULL
Lock Washer 9,NULL
Lock Washer 3,NULL
Lock Washer 11,NULL
Metal Angle,NULL
Metal Bar 1,NULL
Metal Bar 2,NULL
Metal Plate 2,NULL
Metal Plate 1,NULL
Metal Plate 3,NULL
Metal Sheet 2,NULL
Metal Sheet 3,NULL
Metal Sheet 7,NULL
Metal Sheet 4,NULL
Metal Sheet 5,NULL
Metal Sheet 6,NULL
Metal Sheet 1,NULL
Metal Tread Plate,NULL
LL Nipple,NULL
HL Nipple,NULL
Paint - Black,NULL
Paint - Red,NULL
Paint - Silver,NULL
Paint - Blue,NULL
Paint - Yellow,NULL
Pinch Bolt,NULL
Cup-Shaped Race,NULL
Cone-Shaped Race,NULL
Reflector,NULL
LL Mountain Seat Assembly,NULL
ML Mountain Seat Assembly,NULL
HL Mountain Seat Assembly,NULL
LL Road Seat Assembly,NULL
ML Road Seat Assembly,NULL
HL Road Seat Assembly,NULL
LL Touring Seat Assembly,NULL
ML Touring Seat Assembly,NULL
HL Touring Seat Assembly,NULL
LL Spindle/Axle,NULL
HL Spindle/Axle,NULL
LL Shell,NULL
HL Shell,NULL
Spokes,NULL
Seat Lug,NULL
Stem,NULL
Seat Post,NULL
Steerer,NULL
Seat Stays,NULL
Seat Tube,NULL
Top Tube,NULL
Tension Pulley,NULL
Rear Derailleur Cage,NULL
"Sport-100 Helmet, Red",NULL
"Sport-100 Helmet, Black",NULL
"Mountain Bike Socks, M",NULL
"Mountain Bike Socks, L",NULL
"Sport-100 Helmet, Blue",NULL
AWC Logo Cap,NULL
"Long-Sleeve Logo Jersey, S",NULL
"Long-Sleeve Logo Jersey, M",NULL
"Long-Sleeve Logo Jersey, L",NULL
"Long-Sleeve Logo Jersey, XL",NULL
LL Fork,NULL
ML Fork,NULL
HL Fork,NULL
LL Headset,NULL
ML Headset,NULL
HL Headset,NULL
LL Mountain Handlebars,NULL
ML Mountain Handlebars,NULL
HL Mountain Handlebars,NULL
LL Road Handlebars,NULL
ML Road Handlebars,NULL
HL Road Handlebars,NULL
LL Mountain Front Wheel,NULL
ML Mountain Front Wheel,NULL
HL Mountain Front Wheel,NULL
Touring Front Wheel,NULL
LL Mountain Rear Wheel,NULL
ML Mountain Rear Wheel,NULL
HL Mountain Rear Wheel,NULL
Touring Rear Wheel,NULL
"Men's Sports Shorts, S",NULL
"Touring-Panniers, Large",NULL
Cable Lock,NULL
Minipump,NULL
Mountain Pump,NULL
Taillights - Battery-Powered,NULL
Headlights - Dual-Beam,NULL
Headlights - Weatherproof,NULL
"Men's Sports Shorts, M",NULL
"Men's Sports Shorts, L",NULL
"Men's Sports Shorts, XL",NULL
"Women's Tights, S",NULL
"Women's Tights, M",NULL
"Women's Tights, L",NULL
"Men's Bib-Shorts, S",NULL
"Men's Bib-Shorts, M",NULL
"Men's Bib-Shorts, L",NULL
"Half-Finger Gloves, S",NULL
"Half-Finger Gloves, M",NULL
"Half-Finger Gloves, L",NULL
"Full-Finger Gloves, S",NULL
"Full-Finger Gloves, M",NULL
"Full-Finger Gloves, L",NULL
"Classic Vest, S",NULL
"Classic Vest, M",NULL
"Classic Vest, L",NULL
"Women's Mountain Shorts, S",NULL
"Women's Mountain Shorts, M",NULL
"Women's Mountain Shorts, L",NULL
Water Bottle - 30 oz.,NULL
Mountain Bottle Cage,NULL
Road Bottle Cage,NULL
Patch Kit/8 Patches,NULL
"Racing Socks, M",NULL
"Racing Socks, L",NULL
Hitch Rack - 4-Bike,NULL
Bike Wash - Dissolver,NULL
Fender Set - Mountain,NULL
All-Purpose Bike Stand,NULL
Hydration Pack - 70 oz.,NULL
"Short-Sleeve Classic Jersey, S",NULL
"Short-Sleeve Classic Jersey, M",NULL
"Short-Sleeve Classic Jersey, L",NULL
"Short-Sleeve Classic Jersey, XL",NULL
LL Mountain Seat/Saddle,NULL
ML Mountain Seat/Saddle,NULL
HL Mountain Seat/Saddle,NULL
LL Road Seat/Saddle,NULL
ML Road Seat/Saddle,NULL
HL Road Seat/Saddle,NULL
LL Touring Seat/Saddle,NULL
ML Touring Seat/Saddle,NULL
HL Touring Seat/Saddle,NULL
Mountain Tire Tube,NULL
Road Tire Tube,NULL
Touring Tire Tube,NULL
LL Mountain Tire,NULL
ML Mountain Tire,NULL
HL Mountain Tire,NULL
LL Road Tire,NULL
ML Road Tire,NULL
HL Road Tire,NULL
Touring Tire,NULL
Touring Pedal,NULL
LL Touring Handlebars,NULL
HL Touring Handlebars,NULL
Chain,NULL

## <mark>COALESCE</mark>--Returns the first value that is not null.

Can also be used to test multiple expressions unlike ISNULL

Can be used to address null values when paired with string concatenation

In [123]:
USE AdventureWorks2019

-- SELECT Name, Class, Color, ProductNumber,  
-- COALESCE(Class, Color, ProductNumber) AS FirstNotNull  
-- FROM Production.Product;  


SELECT COALESCE(NULL, 'cat', 'bird');

SELECT COALESCE('cat', NULL, 'bird');



SELECT COALESCE(original_title, title) + ' by ' + authors AS 'Reading List'

FROM BooksDB.dbo.books

WHERE authors LIKE 'Sophocles%'

(No column name)
cat

(No column name)
cat

Reading List
"Οἰδίπους Τύραννος by Sophocles, J.E. Thomas"
"Ἀντιγόνη by Sophocles, J.E. Thomas"
"The Oedipus Cycle: Oedipus Rex/Oedipus at Colonus/Antigone (The Theban Plays, #1–3) by Sophocles, Dudley Fitts, Elena Bono, Robert Fitzgerald"