**Inner Join**

In [2]:
SELECT 
    TOP 30 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b --- aliases making out lives easier!
INNER JOIN 
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2,257,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
The Pilgrimage,3.64,171,8,4004
Children of Dune (Dune Chronicles #3),3.9,116,9,112
Atlas Shrugged,3.68,147,10,662
The Thorn Birds,4.22,201,26,3412
"The Complete Sherlock Holmes, Vol 2",4.46,117,26,3586
The Lord of the Rings: Weapons and Warfare,4.53,12,29,36
Atlas Shrugged,3.68,147,29,662
"The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory",4.06,75,29,771
The Pilgrimage,3.64,171,30,4004
The Hobbit,4.25,969,30,5907
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2,257,32,11
The Richest Man in Babylon,4.23,187,33,1052
In√©s of My Soul,3.9,89,33,3300
Lysistrata,3.84,222,34,1591
Heidi,3.97,771,39,93
Heretics of Dune (Dune Chronicles #5),3.83,86,39,117
Libra,3.98,65,39,400
Hamlet,4,1929,39,1420
Chapterhouse: Dune (Dune Chronicles #6),3.89,72,46,105
"The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory",4.06,75,46,771
"Tunnels of Blood (Cirque Du Freak, #3)",4.14,66,47,8957
Cryptonomicon,4.25,3,51,816
"One Fish, Two Fish, Red Fish, Blue Fish",4.12,49,54,7770
Memoirs of a Geisha,4.08,220,55,930
The Thorn Birds,4.22,201,60,3412
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,61,13
The Lord of the Rings: Weapons and Warfare,4.53,12,61,36

**Full Join**

In [5]:
SELECT 
    TOP 30 b.title, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
FULL JOIN
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id

title,user_id,book_id
Children of Dune (Dune Chronicles #3),1,112
NULL,1,533
NULL,1,1198
NULL,1,1874
NULL,1,2058
NULL,2,4
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",2,11
The Ultimate Hitchhiker's Guide to the Galaxy,2,13
NULL,2,92
Dune Messiah (Dune Chronicles #2),2,106
NULL,2,113
NULL,2,233
NULL,2,247
NULL,2,380
NULL,2,408
NULL,2,439
NULL,2,479
NULL,2,516
NULL,2,619
NULL,2,1384
NULL,2,1926
NULL,2,1967
NULL,2,1969
NULL,2,2220
NULL,2,3222
NULL,2,3733
NULL,2,5418
NULL,2,6937
NULL,2,7146
NULL,2,7873

In [6]:
SELECT 
    TOP 30 b.title, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
FULL JOIN
    BooksDB.dbo.to_read AS tr
ON 
    b.book_id = tr.book_id
WHERE 
    tr.user_id IS NULL

title,user_id,book_id
"The Last Wish (The Witcher, #1)",NULL,NULL
"Five Weeks in a Balloon (Extraordinary Voyages, #1)",NULL,NULL
ÁæéÂ∞ëÂ•≥Êà¶Â£´„Çª„Éº„É©„Éº„É†„Éº„É≥Êñ∞Ë£ÖÁâà 1 [Bish≈çjo Senshi Sailor Moon Shins≈çban 1],NULL,NULL
Spark Joy: An Illustrated Master Class on the Art of Organizing and Tidying Up,NULL,NULL
Orange Is the New Black,NULL,NULL
Braveheart,NULL,NULL
"Lover Enshrined (Black Dagger Brotherhood, #6)",NULL,NULL
"Seduction and Snacks (Chocolate Lovers, #1)",NULL,NULL
The Other Typist,NULL,NULL
"Reliquary (Pendergast, #2)",NULL,NULL
"Close Your Eyes, Hold Hands",NULL,NULL
"Burned (House of Night, #7)",NULL,NULL
"Track of the Cat (Anna Pigeon, #1)",NULL,NULL
The Saggy Baggy Elephant (A Little Golden Book),NULL,NULL
The Age of Miracles,NULL,NULL
A Streetcar Named Desire,NULL,NULL
Mutant Message Down Under,NULL,NULL
"For You (The 'Burg, #1)",NULL,NULL
"Lover Revealed (Black Dagger Brotherhood, #4)",NULL,NULL
Passion and Purity: Learning to Bring Your Love Life Under Christ's Control,NULL,NULL
"The Serpent of Venice (The Fool, #2)",NULL,NULL
Pinkalicious,NULL,NULL
The Uncommon Reader,NULL,NULL
Shakespeare: The World as Stage,NULL,NULL
"Rock Chick Revenge (Rock Chick, #5)",NULL,NULL
The Martian,NULL,NULL
The Circle,NULL,NULL
The Prestige,NULL,NULL
My √Åntonia,NULL,NULL
El t√∫nel,NULL,NULL

**Left Join**

In [7]:
SELECT 
    TOP 10 b.title, b.average_rating, tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
LEFT JOIN 
    BooksDB.dbo.to_read AS tr
ON 
    b.best_book_id = tr.book_id
ORDER BY 
    b.average_rating

title,average_rating,user_id,book_id
One Night at the Call Center,2.47,NULL,NULL
The Almost Moon,2.67,NULL,NULL
The Finkler Question,2.76,NULL,NULL
Four Blondes,2.8,449,6613
Four Blondes,2.8,1378,6613
Four Blondes,2.8,6465,6613
Four Blondes,2.8,6700,6613
Four Blondes,2.8,7830,6613
Four Blondes,2.8,10085,6613
Four Blondes,2.8,16298,6613

**Joining Multiple Tables**

In [15]:
SELECT 
    TOP 10 b.title, t.tag_name
FROM 
    BooksDB.dbo.books AS b 
INNER JOIN 
    BooksDB.dbo.book_tags AS bt
ON 
    b.book_id = bt.goodreads_book_id
INNER JOIN 
    BooksDB.dbo.tags AS t 
ON 
    bt.tag_id = t.tag_id

title,tag_name
"The Hunger Games (The Hunger Games, #1)",favorites
"The Hunger Games (The Hunger Games, #1)",currently-reading
"The Hunger Games (The Hunger Games, #1)",young-adult
"The Hunger Games (The Hunger Games, #1)",fiction
"The Hunger Games (The Hunger Games, #1)",dystopian
"The Hunger Games (The Hunger Games, #1)",to-read
"The Hunger Games (The Hunger Games, #1)",dystopia
"The Hunger Games (The Hunger Games, #1)",fantasy
"The Hunger Games (The Hunger Games, #1)",ya
"The Hunger Games (The Hunger Games, #1)",science-fiction

**HAVING vs. WHERE**

In [30]:
SELECT 
    original_publication_year, 
    COUNT(*) AS num_books_published
FROM 
    BooksDB.dbo.books
WHERE 
    original_publication_year > 2010
GROUP BY 
    original_publication_year
ORDER BY   
    original_publication_year DESC

original_publication_year,num_books_published
2017,11
2016,198
2015,306
2014,437
2013,518
2012,568
2011,556

In [28]:
SELECT 
    original_publication_year, 
    COUNT(*) AS num_books_published
FROM 
    BooksDB.dbo.books
GROUP BY 
    original_publication_year
HAVING
    COUNT(*) BETWEEN 400 AND 450
ORDER BY   
    original_publication_year DESC

original_publication_year,num_books_published
2014,437
2009,432